body{
    background-color: maroon;
}
#signupbox{
    background-color: burlywood;
    position: fixed;
    width: 20%;
    height: 15rem;
    top: 30%;
    left: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
#inbuttons{
    margin-top: 0;
    display: flex;
    width: 100%;
}
#inbuttons:hover{
    cursor: pointer;
}
#inbuttons > *{
    height: 2rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.processalert{
    position: absolute;
    width: 26%;
    background-color: beige;
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -13%;
    top: 0;
    padding: 1em;
    border-radius: 10px;
}
#msgclose{
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    width: 5%;
}
#none{
    display: none;
}

/* ////////////////////////////////////////////////////////// THIS IS FOR MAIN CONTENT////////////////////////////////////// */

#welcomemsgforuser{
    color: white;
}
#davincititleandlogout{
    display: flex;
    align-items: center;
}
#davincih1{
    margin: 0;
    color: rgb(243, 243, 169);
}
#logoutbutton{
    position: absolute;
    right: 1rem;
}
#paletteexistingandcreation{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: aliceblue;
}
#userspalettes{
    flex-grow: 2;
    border-style: solid;
}
#newpalettecreation{
    display: flex;
    flex-direction: column;
    flex-grow: 3;
    border-style: solid;
    border-left: 0;
}
#paletteactionbutton{
    flex-grow: 0.5;
}
#colorsofpalette{
    display: flex;
    flex-grow: 10;
}
.randomcolor{
    flex-grow: 1;
}
.perticularuserspalettes{
    display: flex;
    flex-grow: 10;
    height: 5rem;
    width: 5rem;
    margin: 0.5rem;
}
.perticularuserspalettes > .randomcolor > button{
    display: none;
}